
*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container{
    width: 500px;
    background: lightblue;
    padding-inline-start: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
textarea{
    width: 450px;
    height: 150px;
    resize: none;
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 10px;
}
.counterContainer{
display: flex;
justify-content: space-around;
padding: 0px 5px;
}
.counterContainer p{
font-size: 18px;
}
.remainingcounter{
    color: darkmagenta;
}
.totalcounter{
    color: darkmagenta;
}